<a href="https://colab.research.google.com/github/pradeep004/Data-Warehouse-visualisation-and-report/blob/main/Python_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Python Function Programming 

#####1).Clear and Understanding
#####2).Easy to extemd
#####3).Easy to maintain
#####4).Memory Effecient
#####5).Dry

In [ ]:
#Pure Function 

def multiply_by2(li):
  out_li = []
  for values in li:
    values = values * 2
    out_li.append(values)
  return out_li
print("Result :",multiply_by2([1,2,3]))

Result : [2, 4, 6]

#####map, filter, zip and reduce
#####1).Map-The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.

#####map(function ,iterables)

In [ ]:

#By using map function
#map(function,iterables) - allows to create new list
my_list = [1,2,3,4]
def multi_by2(item):
  return item * 2

print(list(map(multi_by2, my_list)))
print(my_list)

[2, 4, 6, 8]
[1, 2, 3, 4]

#####2).Filters

In [ ]:
#Filters - filter the item in function 
my_list = [1,2,3,4]
def check_odd(item):
  return item % 2 != 0

print(list(filter(check_odd,my_list)))
print(my_list)

[1, 3]
[1, 2, 3, 4]

#####3).Zip

In [ ]:
#zip:- combining the data
my_list = [1,2,3]
your_list = [10,20,30]
another_tuple = (100,200,300)

print(list(zip(my_list,your_list,another_tuple)))

[(1, 10, 100), (2, 20, 200), (3, 30, 300)]

#####4).Reduce

In [ ]:
#Reduce(function,sequence[, initial])
from functools import reduce
my_list = [1,2,3]
def accumalator(acc,item):
  print(acc,item)
  return acc + item 

print(reduce(accumalator,my_list, 0))
print(my_list)

0 1
1 2
3 3
6
[1, 2, 3]

In [ ]:
#lamda expresion - Only use once in a program 
from functools import reduce
my_list = [1,2,3]
print(list(map(lambda item :item * 2,my_list)))

[2, 4, 6]

In [ ]:
#EXercistse on Lambda
my_list = [2,3,4]
print(list(map(lambda item :item *item ,my_list)))


#Sorting the list by 1st index
#List Sorting
a = [(0,2),(4,3),(9,9),(10,-1)]
a.sort(key = lambda x :x[1])
print(a)

[4, 9, 16]
[(10, -1), (0, 2), (4, 3), (9, 9)]

In [ ]:
#list,set,dictionory - Comprehensions
my_list = [char for char in 'hello']
my_list2 = [num * 2 for num in range(0,100)]
print(my_list2)
print(my_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]
['h', 'e', 'l', 'l', 'o']